.page__footer {
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 60px;
  width: 100%;
  flex: 0 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width:900px) {
  .page__footer {
    padding-left: 19px;
  }
}

@media screen and (max-width:500px) {
  .page__footer {
    padding-bottom: 36px;
  }
}
